body {
  font-family: "Arial", sans-serif;
  background-color: #0f0202;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  width: 90%;
  max-width: 600px;
  background-color: #0f0202;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.SearchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.SearchBar input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  flex-grow: 1;
}

.SearchBar button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.ForecastItem {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.ForecastItem p {
  margin: 5px 0;
}
